body {
  font-family: helvetica, Arial, sans-serif;
}

#TOC {
  background: url("inst/qmc.png");
  background-size: contain;
  padding-bottom: 250px !important;
  background-position: bottom;
  background-repeat: no-repeat;
}
